*~
work/
.nextflow
.nextflow.log*
nohup.out
trace.txt.*
report.html.[0-9]*
trace.txt
report.html
.DS_Store
tmp/
outdir/
timeline.html
*flymake.py
tests/tests.PASSED
tests/out-correct/
tests/out-mutated/
tests/out-wrong/
*#
*DS_Store
tests/.snakemake/
