process.shell = ['/bin/bash', '-euo', 'pipefail']
profiles {
    
    standard {
        process.executor = 'local'
    }
    
    gis {
        process {
            executor = 'sge'
            clusterOptions = { "-l mem_free=" + task.memory.toString().replaceAll(/[\sB]/,'') }
            penv = 'OpenMP'// task.cpus = automagically added
            maxRetries = 3
            errorStrategy = { task.attempt < 2 ? 'retry' : 'finish' }
            beforeScript = 'source /mnt/projects/rpd/rc/init.2017-04'
            time = '2h'
            memory = '1 GB'

            // Process-specific resource requirements
            $trim_and_combine {
                cpus = 4
                memory = '1 GB'
                time = '2h'
                module = 'skewer/0.2.2:fastqc/0.11.4'
            }
            $decont {
                cpus = 4
                memory = '8 GB'
                time = '6h'
                module = 'decont/0.5:fastqc/0.11.4'
            }
            $kraken {
                cpus = 4
                memory = '10 GB'
                time = '2h'
                module = "kraken/1.0"
            }
            $tadpole {
                cpus = 1
                memory = '10 GB'
                time = '1h'
                module = 'bbmap/37.17'
            }
            $gap_fill_assembly {
                cpus = 1
                memory = '1 GB'
                time = '1h'
                module = 'simple-contig-joiner/91ab4d9'
            }
            $polish_assembly {
                cpus = 4
                memory = '4 GB'
                time = '8h'
                module = 'polish-viral-ref/ffc6a02:seqtk/4feb6e8'
            }
            $final_mapping {
                cpus = 4
                memory = '4 GB'
                time = '2h'
                module = "lofreq/2.1.3.1:bwa/0.7.15:samtools/1.3"
            }
            $var_calling {
                cpus = 16
                memory = '16 GB'
                time = { '6h' * task.attempt}
                module = "lofreq/2.1.3.1:samtools/1.3"
            }
            $genomecov {
                cpus = 1
                memory = '1 GB'
                time = '2h'
                module = "bedtools/2.25.0"
            }
            $vipr_tools {
                cpus = 1
                memory = '1 GB'
                time = '1h'
                module = "miniconda3:vipr-tools/81b0782"
            }
        }
    }

}
