/*
 * -------------------------------------------------
 *  nf-core/methylseq Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 * Cluster-specific config options should be saved
 * in the conf folder and imported under a profile
 * name here.
 */


// Configurable variables/defaults
params {
    version = '1.0-dev' // Pipeline version
    container = "nfcore/vipr:${version}"
    nf_required_version = '0.28' // Minimum version of nextflow required
    outdir = 'outdir'
    // Pipeline options
    //...
}


profiles {
    standard {
        includeConfig 'conf/base.config'
        process.executor = 'local'
    }
    
    gis {
        includeConfig 'conf/base.config'
        includeConfig 'conf/gis.config'
    }
}

process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
    enabled = true
    file = "${params.outdir}/pipeline_info/timeline.html"
}
report {
    enabled = true
    file = "${params.outdir}/pipeline_info/report.html"
}
trace {
    enabled = true
    file = "${params.outdir}/pipeline_info/trace.txt"
}
dag {
    enabled = true
    file = "${params.outdir}/pipeline_info/DAG.svg"
}
