/* -------------------------------------------------
 *  Base Nextflow config file
 * -------------------------------------------------
 * This file contains basic process requirement setup. It DOES NOT
 * contain any config for cluster, so will run in default mode by
 * itself. It should be used with the max_memory, max_cpus and
 * max_time params for customising hardware limits
 */

process {

    container = params.container

    cpus = { check_max( 4, 'cpus' ) }
    memory = { check_max( 10.GB * task.attempt, 'memory' ) }
    time = { check_max( 1.h * task.attempt, 'time' ) }

    errorStrategy = { task.exitStatus in [1,143,137,104,134,139] ? 'retry' : 'terminate' }
    maxRetries = 3
    maxErrors = '-1'

    // Process-specific resource requirements
    withName:trim_and_combine {
        memory = { check_max( 2.GB, 'memory') }
        time = { check_max( 2.h, 'time') }
    }
    withName:decont {
        time = { check_max( 6.h * task.attempt, 'time') }
    }
    withName:tadpole {
        cpus = 1
    }
    withName:gap_fill_assembly {
        cpus = 1
        memory = { check_max( 500.MB, 'memory') }
    }
    withName:polish_assembly {
        memory = { check_max( 4.GB, 'memory') }
        time = { check_max( 8.h, 'time') }
    }
    withName:final_mapping {
        memory = { check_max( 3.GB, 'memory') }
        time = { check_max( 2.h, 'time') }
    }
    withName:var_calling {
        cpus = { check_max(16, 'cpus') }
        memory = { check_max( 16.GB, 'memory') }
        time = { check_max( 10.h * task.attempt, 'time') }
    }
    withName:genomecov {
        cpus = 1
        memory = { check_max( 500.MB, 'memory') }
    }
    withName:vipr_tools {
        cpus = 1
        memory = { check_max( 500.MB, 'memory') }
    }
}

params {
  // Defaults only, expecting to be overwritten
  max_memory = 128.GB
  max_cpus = 16
  max_time = 240.h
}
