/*
 * -------------------------------------------------
 *  Base Nextflow config file
 * -------------------------------------------------
 * This file contains basic process requirement setup
 * It DOES NOT contain any config for cluster, so will run
 * in default mode by itself. It should be used with
 * the max_memory, max_cpus and max_time params for
 * customising hardware limits
 */

process {

    container = params.container

    // Process-specific resource requirements
    $trim_and_combine {
        cpus = 4
        memory = '2 GB'
        time = '1h'
    }
    $decont {
        cpus = 4
        memory = '7 GB'
        time = '6h'
    }
    $kraken {
        cpus = 4
        memory = '10 GB'
        time = '1h'
    }
    $tadpole {
        cpus = 1
        memory = '10 GB'
        time = '1h'
    }
    $gap_fill_assembly {
        cpus = 1
        memory = '500 MB'
        time = '1h'
    }
    $polish_assembly {
        cpus = 4
        memory = '4 GB'
        time = '8h'
    }
    $final_mapping {
        cpus = 4
        memory = '3 GB'
        time = '2h'
    }
    $var_calling {
        cpus = 16
        memory = '16 GB'
        time = { '6h' * task.attempt}
    }
    $genomecov {
        cpus = 1
        memory = '500 MB'
        time = '1h'
    }
    $vipr_tools {
        cpus = 1
        memory = '500 MB'
        time = '1h'
    }
}
