process {
    executor = 'sge'
    clusterOptions = { "-l mem_free=" + task.memory.toString().replaceAll(/[\sB]/, '') }
    penv = 'OpenMP'// task.cpus = automagically added
    maxRetries = 3
    errorStrategy = { task.attempt < 2 ? 'retry' : 'finish' }
    // auto translate container name into conda environment name
    // `set -u` triggers `CONDA_PATH_BACKUP: unbound variable` on `source activate`
    beforeScript = { 'source /mnt/projects/rpd/rc/init.2017-04; module load miniconda3; set +u; source activate ' + params.container.replaceAll(/[\/:]/, '-') + "; set -u;" }
}
